*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    body{
        background: teal;
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
    }
    
    textarea{
        height:200px ;
        width: 400px;
        font-family: sans-serif;
        padding: 15px 20px;
        text-align: justify;
        border: 0;
        outline: 0;
        color: black;
        box-shadow: inset 2px 3px 5px grey;
        border-radius: 8px;
    }
    #button{
        padding: 10px 20px;
        border:0;
        outline: 0;
        background-color: aqua;
        color: white;
        border-radius: 8px;
        margin-bottom: 100px;
    }
    h1{
        color: white;
        font-family: sans-serif;
        margin-bottom: 10px;
        text-shadow: 2px 3px 5px grey;
        letter-spacing:  2px;
    }